/AppRegistro/nbproject/private/
/AppRegistro/build/
/Promedio/nbproject/private/
/Tablas/nbproject/private/
/Tablas/build/
/16 - UI - Tablas/Tablas/nbproject/private/
/16 - UI - Tablas/Tablas/build/
/18 - Cambio Contenedores/CambioContenedores/nbproject/private/
/18 - Cambio Contenedores/CambioContenedores/build/
/17 - Base Datos MySQL/BaseDatos/nbproject/private/
/17 - Base Datos MySQL/BaseDatos/build/
